<h1>New Event</h1>

<%= simple_form_for @events do |f| %>
    <p>
      <%= f.input :event_date, as: 'string', :input_html => { :class => 'datepicker' },
                  :label => 'Date', :placeholder => 'Please, enter a Date' %>
    </p>

    <p>
      <%= f.input :place, :label => 'Place', :placeholder => 'Please, enter a Place' %>
    </p>

    <p>
      <%= f.input :description, :label => 'Description', :placeholder => 'Please, enter a Description' %>
    </p>

    <p>
      <%= f.association :people, :collection => Person.all, :include_blank => true %>
      <!--%= f.input :people, collection: @person,
                  #as: :grouped_select,
                  #:group_method => :person,
                  #:label_method => :name,
                  #:value_method => :name,
                  #:include_blank => false,
                  :label => 'People', :placeholder => 'Please, enter some People' %-->
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Back', events_path %>